body{   
    font-family: 'Special Elite ' , cursive;
    background: linear-gradient(#36d1dc 0%,#FFEAE3 100%);
} 
.header div p{
   font-family: 'Roboto', 'Roboto', sans-serif;
   color: gray;
   letter-spacing: 2px;
   font-size: 12px;
   font-weight: bold;
   }
   .main_div button{    
   font-family: 'Roboto', sans-serif; 
      margin-top: 30px;
          width: 130px; 
      font-weight: bolder;   
       letter-spacing: 3px;  
   }
﻿
   ﻿

   .copy_right_footer {
   position: fixed;
   color:#5BBCFF;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color:  #f5005e  ;
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px
   rgb (151, 149, 149);
   }